<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Hakkımızda</h2>
        </div>

        <div class="row content">
            <div class="col-lg-6">
                <p>
                        Öğrencilerin üniversitelerin öğrettiklerinden fazlasına ihtiyacı olduğuna inanıyoruz.
                        Öğrenmenin sınırı olmadığını biliyoruz hele ki konu mühendislik olunca.
                        Bu amaçla Gazi üniversitesinde 4 girişimci mühendislik öğrencisi tarafından “Alamatra” adı altında topluluğumuzu kurduk.
                        Topluluğumuz aracılığıyla, başta mühendislik olmak üzere üretmek isteyen her gence ulaşmayı, onlara elimizden gelenin en iyisiyle yardım etmeyi hedefledik.
                        İlk yıllarda sadece TEKNOFEST yarışmaları için çalışmalar yürütmekteydik. Zamanla anladık ki ulusal yarışmaların yanı sıra uluslararası yarışmalara da katılmalı ve ülkemizi en iyi şekilde temsil etmeyi bir görev bilmeliyiz.
                        Bu amaçla çalışıyor ulusal ve uluslararası pek çok yarışmaya katılıyor ve katılmayı hedefliyoruz.
                </p>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                    Kendimizi ve takımımıza katılan her üyeyi öğrenmeye aç birer birey olarak kabul ediyoruz.
                    Gönüllülük esaslı çalışıyoruz ve ancak bu şekilde topluma yararlı olabileceğimizi düşünüyoruz.
                    Bu amaçla öğrendiklerimizi, keşfettiklerimizi, mühendislik üreterek gelecek nesillere daha güzel yarınlar bırakmak için geliştiriyoruz.
                    Çalışmalarımızda geleceğin yarınları olacak önemli konu başlıklarını özenle seçtik hangi proje türlerinde çalışmamız gerektiğini düşünürken ülkemize ve dünyamıza yararlı olacak konuları öncelik olarak aldık. Uzay çağının bireyleri olmamızdan da olacak ki :)Roket, uydu, iha ve insansız sualtı sistemleri gibi teknolojiler önceliğimiz oldu. Gelecek yarınların daha güzel olması dileğiyle...
                </p>
                <a asp-controller="Home" asp-action="Hakkimizda" class="btn-learn-more">Daha Fazla</a>
            </div>
        </div>

    </div>
</section>