
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>ALAMATRA</h3>
                    <p>
                        Eti, Yükseliş Sk. No. 5, <br />
                        06570 Çankaya/Ankara. <br>
                        <strong>Email:</strong><a href="mailto:Alamatrarov@gmail.com">Alamatrarov@gmail.com</a>
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Sosyal Medyada Biz</h4>
                    <div class="social-links mt-3">
                        <a href="https://www.instagram.com/alamatra_robotics/" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="https://www.youtube.com/channel/UCKu2iA_r56JtvcQKLgtcw5g?view_as=subscriber" class="youtube"><i class="bx bxl-youtube"></i></a>
                        <a href="https://www.linkedin.com/company/alamatra" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        <a href="mailto:Alamatrarov@gmail.com" class="email"><i class="bx bxl-messenger"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>Alamatra</span></strong>. Tüm Hakları Saklıdır- @DateTime.Now.Year
        </div>
    </div>
</footer>