    <!-- ======= Sponsor Alanı ======= -->
<section id="cliens" class="cliens section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Sponsorlarımız</h2>
        </div>

        <div class="row" data-aos="zoom-in">

            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <a href="https://www.sahinrulman.com/"><img src="~/assets/img/sponsor/sahinrulman.png" class="img-fluid" alt=""></a>  
            </div>

            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <a href="http://www.kahramanmelek.com.tr/">  <img src="~/assets/img/sponsor/teknogurumimarlik.png" class="img-fluid" alt=""></a>  
            </div>

            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <a href="https://www.ttaf.com.tr/"> <img src="~/assets/img/sponsor/ttaffort.png" class="img-fluid" alt=""></a> 
            </div>

            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
               <a href="https://alamatra.com/images/tamsanncom.jpg"><img src="~/assets/img/sponsor/tamsanncom.jpg" class="img-fluid" alt=""></a> 
            </div>

            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                <a href="https://alamatra.com/images/omsedlogo.png"> <img src="~/assets/img/sponsor/degz.jpg" class="img-fluid" alt=""></a> 
            </div>

            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <a href="https://alamatra.com/images/gozubuyuk.png"><img src="~/assets/img/sponsor/gozubuyuk.png" class="img-fluid" alt=""></a>   
            </div>
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
             <a href="https://alamatra.com/images/oringevilogo.png"><img src="~/assets/img/sponsor/oringevilogo.png" class="img-fluid" alt=""></a>  
            </div>
        </div>

    </div>
</section>