  <!-- ======= Ekip Alanı ======= -->
<section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Takım Arkadaşlarımız</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
               <a href="#"><h4 class="text-center">Yazılım Ekibi</h4></a> 
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
               <a asp-controller="Home" asp-action="Ekibimiz"><img src="~/assets/img/team/ekip1.jpg" class="img-fluid" alt=""> </a> 
            </div>
        </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                <a href="#"><h4 class="text-center">Elektronik Ekibi</h4></a>
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                   <a asp-controller="Home" asp-action="Ekibimiz" ><img src="~/assets/img/team/elektronik23.jpg" class="img-fluid" alt=""></a> 
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                <a href="#"><h4 class="text-center">Mekanik Ekibi</h4></a>
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                  <a asp-controller="Home" asp-action="Ekibimiz" ><img src="~/assets/img/team/Mekanik1.jpg" class="img-fluid" alt=""> </a>  
                </div>
            </div>
        </div>
    </div>
</section>