@model AlamatraWEBUI.Models.Contact


<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>İLETİŞİM</h2>
        </div>

        <div class="row">

            <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Adres:</h4>
                        <p>Eti, Yükseliş Sk. No. 5, 06570 Çankaya/Ankara.</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>Alamatrarov@gmail.com</p>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.4267271129074!2d32.84395431504507!3d39.93184357942442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34efa2943c777%3A0x1c83699501e96360!2zR2F6acyHIMOcbmnMh3ZlcnNpzId0ZXNpzIcgTcO8aGVuZGlzbGlrIEZha8O8bHRlc2k!5e0!3m2!1str!2str!4v1614023611167!5m2!1str!2str" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                </div>

            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form asp-action="ContactEmail" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="Name">Adınız</label>
                            <input type="text" name="name" class="form-control" id="name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Email">Email Adresiniz</label>
                            <input type="email" class="form-control" name="email" id="email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Subject">Konu</label>
                        <input type="text" class="form-control" name="subject" id="subject" required>
                    </div>
                    <div class="form-group">
                        <label asp-for="Message">Mesaj</label>
                        <textarea class="form-control" name="message" rows="10" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Mesajınız Gönderildi Teşekkür Ederim!</div>
                    </div>
                    <div class="text-center"><button type="submit">Gönder</button></div>
                </form>
            </div>
            @if (ViewBag.ConfirmMsg != null)
            {
                <div class="alert alert-success">@ViewBag.ConfirmMsg</div>
            }

        </div>
    </div>
</section>
