
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>TAKIM ARKDAŞLARIMIZ</h2>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">Tümü</li>
            <li data-filter=".filter-app">Yazılım</li>
            <li data-filter=".filter-card">Elektronik</li>
            <li data-filter=".filter-web">Mekanik</li>
        </ul>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-img"><img src="~/assets/img/team/cemhaxgone.png" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Cem Ufuk Yılmaz</h4>
                    <p>Yazılım Yöneticisi</p>
                    <a href="~/assets/img/team/cemhaxgone.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Yazılım Yöneticisi"><i class="bx bx-plus"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-img"><img src="~/assets/img/team/furkanhex.png" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Furkan Tayyip Arfat</h4>
                    <p>Mekanik Ekip Üyesi</p>
                    <a href="~/assets/img/team/furkanhex.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Mekanik Ekip Üyesi"><i class="bx bx-plus"></i></a>
                 
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-img"><img src="~/assets/img/team/abdulhexagone.png" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Abdoul Kowyou</h4>
                    <p>Web</p>
                    <a href="~/assets/img/team/abdulhexagone.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web"><i class="bx bx-plus"></i></a>
                  
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-img"><img src="~/assets/img/team/ahmethex.png" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Ahmet Said Ersoy</h4>
                    <p>Elektronik Ekip Üyesi</p>
                    <a href="~/assets/img/team/ahmethex.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Elektronik Ekip Üyesi"><i class="bx bx-plus"></i></a>
                  
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-img"><img src="~/assets/img/team/azizhex.png" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Aziz Mahmut Yıldırım</h4>
                    <p>Mekanik Ekip Üyesi</p>
                    <a href="~/assets/img/team/azizhex.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Mekanik Ekip Üyesi"><i class="bx bx-plus"></i></a>
                   
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-img"><img src="~/assets/img/team/muhamhexa.png" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Mohammed Emin Bilgin</h4>
                    <p>Mekanik Ekip Üyesi</p>
                    <a href="~/assets/img/team/muhamhexa.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Mekanik Ekip Üyesi"><i class="bx bx-plus"></i></a>
                 
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-img"><img src="~/assets/img/team/tahahex.png" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Taha Enes Melek</h4>
                    <p>Takım Kaptanı</p>
                    <a href="~/assets/img/team/tahahex.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Takım Kaptanı"><i class="bx bx-plus"></i></a>
                 
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-img"><img src="~/assets/img/team/EFTALHEX.png" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Eftal Demirtaş</h4>
                    <p>Mekanik Ekip Üyesi</p>
                    <a href="~/assets/img/team/EFTALHEX.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Mekanik Ekip Üyesi"><i class="bx bx-plus"></i></a>
                 
                </div>
            </div>


            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-img"><img src="~/assets/img/team/mesuthex.png" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Mesut Çalım</h4>
                    <p>Elektronik Ekip Üyesi</p>
                    <a href="~/assets/img/team/mesuthex.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Elektronik Ekip Üyesi"><i class="bx bx-plus"></i></a>
                   
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-img"><img src="~/assets/img/team/ahmethex.png" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Mert Onur Irtem</h4>
                    <p>Mekanik Ekip Üyesi</p>
                    <a href="~/assets/img/team/ahmethex.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Mekanik Ekip Üyesi"><i class="bx bx-plus"></i></a>
                  
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-img"><img src="~/assets/img/team/tahirhex.png" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                    <h4>Tahir Kuzuoğlu</h4>
                    <p>Mekanik Ekip Üyesi</p>
                    <a href="~/assets/img/team/tahirhex.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Mekanik Ekip Üyesi"><i class="bx bx-plus"></i></a>
                    
                </div>
            </div>
        </div>

    </div>
</section>